.team_wrapper {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.heads {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}