.gallery_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background-color: black;
}

.imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.imgs img {
  width: 15rem;
  height: 17rem;
  border-radius: 12px;
}

@media screen and (max-width: 650px) {
  .imgs img {
    width: 10rem;
    height: 10rem;
  }
}
